@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

:root {
	--header: #fdfd8a;
	--bg: #f8f8f8;
	--bgDateTime: #06aed5;
	--typewriter: #06aed5;

	--black: #1c1c1c;
	--white: #f8f8f8;

	--past: #d3d3d3;
	--present: #ff6961;
	--future: #77dd77;

	--save: #06aed5;
	--saveHover: #06afd59e;
	--clear: #f8f8f8;
	--clearHover: #f8f8f89e;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	line-height: 1;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 32px;
	padding: 10px;
}

#currentDay {
	padding: 10px;
	background-color: var(--bgDateTime);
	color: var(--white);
	margin-top: 50px;
	font-weight: 600;
}

textarea {
	background: transparent;
	border: none;
	resize: none;
	color: var(--black);
	border-left: 1px solid var(--black);
	padding: 10px;
}

.jumbotron {
	text-align: center;
	background-color: var(--header);
	color: var(--black);
	border-radius: 0;
	border-bottom: 10px solid var(--black);
	padding-bottom: 10px !important;
}

.time-block {
	text-align: center;
	border-radius: 15px;
}

.time-of-day {
	margin-left: 5px;
	display: flex;
	height: 50px;
	width: 40px;
	align-items: center;
}

.description {
	white-space: pre-wrap;
	height: 45px;
	width: 80%;
}

.saveBtn {
	height: 45px;
	width: 45px;
	border: 1px solid var(--black);
	margin-right: 5px;
	border-top-right-radius: 10px;
	background-color: var(--save);
	color: var(--white);
}

.saveBtn:hover {
	transition: all 0.3s ease-in-out;
	background-color: var(--saveHover);
}

.saveBtn:hover i,
.clearBtn:hover i {
	transition: all 0.4s ease-in-out;
	transform: scale(1.6);
}

.clearBtn {
	height: 45px;
	width: 45px;
	border: 1px solid var(--black);
	margin-right: 5px;
	background-color: var(--clear);
	color: var(--black);
}

.clearBtn:hover {
	transition: all 0.3s ease-in-out;
	background-color: var(--clearHover);
}

.row {
	white-space: pre-wrap;
	height: 80px;
	border-top: 1px solid white;
}

.hour {
	background-color: #ffffff;
	color: var(--black);
	border-top: 1px dashed var(--black);
}

.past,
.present,
.future {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
}

.past {
	background-color: var(--past);
	color: var(--black);
}

.present {
	background-color: var(--present);
	color: var(--black);
}

.future {
	background-color: var(--future);
	color: var(--black);
}

.typewriter {
  font-family: 'Special Elite', cursive;

	text-align: center;
	opacity: 0;
	animation: typing 5s steps(40, end) 0.2s forwards;
	white-space: nowrap;
	overflow: hidden;
	margin: 0 auto;
	border-right: 8px solid var(--save);
	margin-bottom: 10px;
}

@keyframes typing {
	from {
		opacity: 1;
		width: 0;
	}
	to {
		opacity: 1;
		width: 100%;
	}
}

@media only screen and (max-width: 1000px) {
	.description {
		white-space: pre-wrap;
		height: 45px;
		width: 75%;
	}

	.typewriter {
		animation: none;
		white-space: pre-wrap;
		opacity: 1;
		border-right: 10px solid transparent;
	}
}

@media only screen and (max-width: 785px) {
	.description {
		white-space: pre-wrap;
		height: 45px;
		width: 65%;
	}
}

@media only screen and (max-width: 525px) {
	.description {
		white-space: pre-wrap;
		height: 45px;
		width: 50%;
	}
}
